/.SpecGeneratorDelegate.java._trace
/.EclipseResourceFileSystemAccess3.java._trace
/.EclipseResourceFileSystemAccess3.xtendbin
/.SpecGeneratorDelegate.xtendbin
/EclipseResourceFileSystemAccess3.java
/SpecGeneratorDelegate.java
