/.SpecDescriptionLabelProvider.java._trace
/.SpecDescriptionLabelProvider.xtendbin
/.SpecLabelProvider.java._trace
/.SpecLabelProvider.xtendbin
/SpecDescriptionLabelProvider.java
/SpecLabelProvider.java
